In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
def save_dataframe(data, file_name=None):
    if file_name:
        e = file_name
    else:
        t = datetime.now().strftime("%Y-%m-%d_%H%M%S")
        e = f"./data_frame_{t}.pickle"
    print('Saving: '+e)
    data.to_pickle(e)

In [3]:
df_new = pd.read_pickle("./data_frame_raw_2021-03-12.pickle")

# Extended data frame

In [4]:
df_new['duration'] = (df_new.deadline-df_new.launched_at)/(3600*24)
df_new['duration'] = df_new['duration'].round(2)

In [5]:
df_new['goal_usd'] = df_new['goal'] * df_new['static_usd_rate']
df_new['goal_usd'] = df_new['goal_usd'].round(2)

In [6]:
#df_new['launched_at_full'] = pd.to_datetime(df_new['launched_at'], unit='s')
df_new['launched_at_full'] = pd.to_datetime(df_new['launched_at'], unit='s')
df_new['launched_at_year'] = pd.DatetimeIndex(df_new['launched_at_full']).year
df_new['launched_at_month'] = pd.DatetimeIndex(df_new['launched_at_full']).month

In [7]:
df_new['created_at_full'] = pd.to_datetime(df_new['created_at'], unit='s')
df_new['created_at_year'] = pd.DatetimeIndex(df_new['created_at_full']).year
df_new['created_at_month'] = pd.DatetimeIndex(df_new['created_at_full']).month

In [8]:
df_new['deadline_full'] = pd.to_datetime(df_new['deadline'], unit='s')
df_new['deadline_year'] = pd.DatetimeIndex(df_new['deadline_full']).year
df_new['deadline_month'] = pd.DatetimeIndex(df_new['deadline_full']).month

In [12]:
from math import isnan
category_dict = pd.Series(df_new['category_name'].values,index=df_new['category_id']).to_dict()
def parent_cat_mapper(row):
    if isnan(row['category_parent_id']):
        return row['category_name']
    else:
        return category_dict[row['category_parent_id']]

In [14]:
category_parent_name = df_new.apply(parent_cat_mapper, axis=1)
df_new['category_parent_name'] = category_parent_name

In [15]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209222 entries, 0 to 209221
Columns: 108 entries, backers_count to category_parent_name
dtypes: bool(5), datetime64[ns](3), float64(18), int64(16), object(66)
memory usage: 165.4+ MB

### Save frame

In [ ]:
save_dataframe(df_new, './data_frame_full_2021-03-12.pickle')

# Reduced data frame

In [ ]:
for i , val in df_new.iloc[60060,:].items():
    print(i)
    print(val)
    print()

In [18]:
survival_lst = ['backers_count', 'blurb', 'country', 'created_at', 'currency', 'deadline','disable_communication', 'goal', 'launched_at','name', 'staff_pick','state', 
                'usd_pledged','usd_type','category_id','category_name','category_slug','category_parent_id', 'category_parent_name', 'location_id', 'location_name','location_type', 
                'photo_key', 'photo_full', 'duration', 'goal_usd', 
                'launched_at_full', 'launched_at_year', 'launched_at_month', 'created_at_full', 'created_at_year', 'created_at_month', 'deadline_full', 'deadline_year', 'deadline_month']

In [19]:
df_eda = df_new[survival_lst]

In [20]:
save_dataframe(df_eda, './data_frame_small_2021-03-12.pickle')

Saving: ./data_frame_small_2021-03-12.pickle

In [21]:
df_eda.head(2)

,backers_count,blurb,country,created_at,currency,deadline,disable_communication,goal,launched_at,name,...,goal_usd,launched_at_full,launched_at_year,launched_at_month,created_at_full,created_at_year,created_at_month,deadline_full,deadline_year,deadline_month
0,21,2006 was almost 7 years ago.... Can you believ...,US,1387659690,USD,1391899046,False,200.0,1388011046,New Final Round Album,...,200.0,2013-12-25 22:37:26,2013,12,2013-12-21 21:01:30,2013,12,2014-02-08 22:37:26,2014,2
1,97,An adorable fantasy enamel pin series of princ...,US,1549659768,USD,1551801611,False,400.0,1550073611,Princess Pals Enamel Pin Series,...,400.0,2019-02-13 16:00:11,2019,2,2019-02-08 21:02:48,2019,2,2019-03-05 16:00:11,2019,3